# Dataset (keep the folder, ignore its contents)
dataset/**
!dataset/.gitkeep

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# PyCharm / IntelliJ
.idea/

# Windows
Thumbs.db

# macOS
.DS_Store